In [ ]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
from Scripts.data_processing import DataProcessing

In [2]:
data = pd.read_csv('../Data/raw_data/Alpha_Amylase.csv')
data.head()

,mutant,dataset,mutated_sequence,expression
0,S142L-T152P-L158V-G298M-E351Q,2,LTAPSIKSGTILHAWNWSFNTLKHNMKDIHDAGYTAIQTSPINQVK...,0.815
1,K007D,1,LTAPSIDSGTILHAWNWSFNTLKHNMKDIHDAGYTAIQTSPINQVK...,0.830
2,A086E,1,LTAPSIKSGTILHAWNWSFNTLKHNMKDIHDAGYTAIQTSPINQVK...,1.560
3,S005E-S131H,2,LTAPEIKSGTILHAWNWSFNTLKHNMKDIHDAGYTAIQTSPINQVK...,0.452
4,T413H,1,LTAPSIKSGTILHAWNWSFNTLKHNMKDIHDAGYTAIQTSPINQVK...,1.010

In [7]:
data['expression'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 12294 entries, 0 to 12293
Series name: expression
Non-Null Count  Dtype
--------------  -----
11370 non-null  float64
dtypes: float64(1)
memory usage: 96.2 KB

In [4]:
data_no_nan = data.dropna()

In [5]:
data_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11370 entries, 0 to 12293
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mutant            11370 non-null  object
 1   dataset           11370 non-null  int64
 2   mutated_sequence  11370 non-null  object
 3   expression        11370 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 444.1+ KB